{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="d-flex flex-column align-items-center alert alert-danger p-5 rounded-lg m-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Name</th>
                    <th scope="col">Slot</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                <tr>
                    <td>{{ entry.current_time.strftime("%d/%m/%Y %H:%M") }}</td>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.slot }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}